[Unit]
Description=configure iptables for multiple CA servers

After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/epics-configure-iptables start 5075
ExecStop=/usr/local/bin/epics-configure-iptables stop 5075
RemainAfterExit=yes
StandardError=journal

